/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 203, filters.scss */
input.rings:checked ~ label.rings:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 211, filters.scss */
input.rings:checked ~ label.rings {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 219, filters.scss */
input.rings:checked ~ label.rings i.rings {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 223, filters.scss */
input.bracelets:checked ~ label.bracelets:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 231, filters.scss */
input.bracelets:checked ~ label.bracelets {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 239, filters.scss */
input.bracelets:checked ~ label.bracelets i.bracelets {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 243, filters.scss */
input.necklaces:checked ~ label.necklaces:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 251, filters.scss */
input.necklaces:checked ~ label.necklaces {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 259, filters.scss */
input.necklaces:checked ~ label.necklaces i.necklaces {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 263, filters.scss */
input.earrings:checked ~ label.earrings:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 271, filters.scss */
input.earrings:checked ~ label.earrings {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 279, filters.scss */
input.earrings:checked ~ label.earrings i.earrings {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 283, filters.scss */
input.pendants:checked ~ label.pendants:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 291, filters.scss */
input.pendants:checked ~ label.pendants {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 299, filters.scss */
input.pendants:checked ~ label.pendants i.pendants {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 303, filters.scss */
input.other:checked ~ label.other:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 311, filters.scss */
input.other:checked ~ label.other {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 319, filters.scss */
input.other:checked ~ label.other i.other {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 323, filters.scss */
input.agat:checked ~ label.agat:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 331, filters.scss */
input.agat:checked ~ label.agat {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 339, filters.scss */
input.agat:checked ~ label.agat i.agat {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 343, filters.scss */
input.aquamarine:checked ~ label.aquamarine:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 351, filters.scss */
input.aquamarine:checked ~ label.aquamarine {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 359, filters.scss */
input.aquamarine:checked ~ label.aquamarine i.aquamarine {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 363, filters.scss */
input.diamond:checked ~ label.diamond:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 371, filters.scss */
input.diamond:checked ~ label.diamond {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 379, filters.scss */
input.diamond:checked ~ label.diamond i.diamond {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 383, filters.scss */
input.garnet:checked ~ label.garnet:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 391, filters.scss */
input.garnet:checked ~ label.garnet {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 399, filters.scss */
input.garnet:checked ~ label.garnet i.garnet {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 403, filters.scss */
input.sapphire:checked ~ label.sapphire:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 411, filters.scss */
input.sapphire:checked ~ label.sapphire {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 419, filters.scss */
input.sapphire:checked ~ label.sapphire i.sapphire {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 423, filters.scss */
input.opal:checked ~ label.opal:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 431, filters.scss */
input.opal:checked ~ label.opal {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 439, filters.scss */
input.opal:checked ~ label.opal i.opal {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
input.foundry:checked ~ label.foundry:before {  
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 431, filters.scss */
input.foundry:checked ~ label.foundry {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 439, filters.scss */
input.foundry:checked ~ label.foundry i.foundry {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
input.epoxy:checked ~ label.epoxy:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 431, filters.scss */
input.epoxy:checked ~ label.epoxy {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 439, filters.scss */
input.epoxy:checked ~ label.epoxy i.epoxy {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/input.opal:checked ~ label.opal:before {
input.cost-up-to-down:checked ~ label.cost-up-to-down:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 431, filters.scss */
input.cost-up-to-down:checked ~ label.cost-up-to-down {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 439, filters.scss */
input.cost-up-to-down:checked ~ label.cost-up-to-down i.cost-up-to-down {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/input.opal:checked ~ label.opal:before {

  input.cost-down-to-up:checked ~ label.cost-down-to-up:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 431, filters.scss */
input.cost-down-to-up:checked ~ label.cost-down-to-up {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 439, filters.scss */
input.cost-down-to-up:checked ~ label.cost-down-to-up i.cost-down-to-up {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/input.opal:checked ~ label.opal:before {
