/* line 11, filters.scss */
#filters {
  width: 64vw;
  height: 18vh;
  margin-top: 67vh;
  margin-left: 4vw;
  position: absolute;
  z-index: 99; }
  /* line 18, filters.scss */
  #filters .filters {
    visibility: hidden;
    position: absolute;
    width: 64vw;
    height: 18vh;
    background-color: white; }
    /* line 24, filters.scss */
    #filters .filters .labels {
      width: 100%;
      height: 89%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      /* line 35, filters.scss */
      #filters .filters .labels span {
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 120px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 22px;
        margin-left: 7px;
        margin-top: 5px; }
    /* line 52, filters.scss */
    #filters .filters .fil-close-btn {
      position: relative;
      cursor: pointer;
      display: inline-block;
      width: 25px;
      height: 25px;
      left: 50%;
      overflow: hidden; }
      /* line 61, filters.scss */
      #filters .filters .fil-close-btn:hover::before, #filters .filters .fil-close-btn:hover::after {
        background: red; }
      /* line 66, filters.scss */
      #filters .filters .fil-close-btn::before, #filters .filters .fil-close-btn::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        margin-top: -1px;
        background: #AEAEAE; }
      /* line 75, filters.scss */
      #filters .filters .fil-close-btn::before {
        transform: rotate(45deg); }
      /* line 78, filters.scss */
      #filters .filters .fil-close-btn::after {
        transform: rotate(-45deg); }

/* line 84, filters.scss */
#filtersHead {
  width: 71vw;
  height: 1px;
  margin-top: 66vh;
  margin-left: 0.5vw;
  position: absolute;
  text-align: center; }
  /* line 91, filters.scss */
  #filtersHead p {
    width: 71vw;
    height: 1px;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-transform: uppercase;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0; }

/* line 106, filters.scss */
label {
  width: 50px;
  height: 20px;
  display: inline-block;
  margin-top: 22px;
  position: absolute;
  border-radius: 13px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #8a8a8a;
  background: -webkit-linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  background: -moz-linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  background: -o-linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  background: -ms-linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  background: linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  line-height: 20px;
  font-style: normal;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.3)));
  -moz-transition: visibility 0s, z-index 0s, all 1s;
  -webkit-transition: visibility 0s, z-index 0s, all 1s;
  -o-transition: visibility 0s, z-index 0s, all 1s;
  transition: visibility 0s, z-index 0s, all 1s;
  cursor: pointer; }
  /* line 137, filters.scss */
  label:before {
    content: "off";
    font-size: 0.9em;
    margin-left: 19px;
    text-transform: uppercase;
    -webkit-transition: visibility 0s, z-index 0s, all 200ms ease;
    -moz-transition: visibility 0s, z-index 0s, all 200ms ease;
    -o-transition: visibility 0s, z-index 0s, all 200ms ease;
    -ms-transition: visibility 0s, z-index 0s, all 200ms ease;
    transition: visibility 0s, z-index 0s, all 200ms ease; }
  /* line 148, filters.scss */
  label i {
    position: absolute;
    top: -2px;
    right: 30px;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 24px;
    background: white;
    background: -webkit-linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    background: -moz-linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    background: -o-linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    background: -ms-linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    background: linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: visibility 0s, z-index 0s, all 200ms ease;
    -moz-transition: visibility 0s, z-index 0s, all 200ms ease;
    -o-transition: visibility 0s, z-index 0s, all  200ms ease;
    -ms-transition: visibility 0s, z-index 0s, all  200ms ease;
    transition:  visibility 0s, z-index 0s, all  200ms ease; }
    /* line 168, filters.scss */
    label i:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 13px;
      height: 13px;
      margin: -6px 0 0 -6px;
      border-radius: 14px;
      background: #efefef;
      background: -webkit-linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      background: -moz-linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      background: -o-linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      background: -ms-linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      background: linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1); }

/* line 188, filters.scss */
input:before {
  visibility: hidden;
  content: "Logic:";
  margin-left: -35px;
  font-size: 10px;
  color: #333; }

/* line 195, filters.scss */
input {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: 10px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 203, filters.scss */
input.rings:checked ~ label.rings:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 211, filters.scss */
input.rings:checked ~ label.rings {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 219, filters.scss */
input.rings:checked ~ label.rings i.rings {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 223, filters.scss */
input.bracelets:checked ~ label.bracelets:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 231, filters.scss */
input.bracelets:checked ~ label.bracelets {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 239, filters.scss */
input.bracelets:checked ~ label.bracelets i.bracelets {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 243, filters.scss */
input.necklaces:checked ~ label.necklaces:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 251, filters.scss */
input.necklaces:checked ~ label.necklaces {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 259, filters.scss */
input.necklaces:checked ~ label.necklaces i.necklaces {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 263, filters.scss */
input.earrings:checked ~ label.earrings:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 271, filters.scss */
input.earrings:checked ~ label.earrings {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 279, filters.scss */
input.earrings:checked ~ label.earrings i.earrings {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 283, filters.scss */
input.pendants:checked ~ label.pendants:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 291, filters.scss */
input.pendants:checked ~ label.pendants {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 299, filters.scss */
input.pendants:checked ~ label.pendants i.pendants {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 303, filters.scss */
input.other:checked ~ label.other:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 311, filters.scss */
input.other:checked ~ label.other {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 319, filters.scss */
input.other:checked ~ label.other i.other {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 323, filters.scss */
input.agat:checked ~ label.agat:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 331, filters.scss */
input.agat:checked ~ label.agat {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 339, filters.scss */
input.agat:checked ~ label.agat i.agat {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 343, filters.scss */
input.aquamarine:checked ~ label.aquamarine:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 351, filters.scss */
input.aquamarine:checked ~ label.aquamarine {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 359, filters.scss */
input.aquamarine:checked ~ label.aquamarine i.aquamarine {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 363, filters.scss */
input.diamond:checked ~ label.diamond:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 371, filters.scss */
input.diamond:checked ~ label.diamond {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 379, filters.scss */
input.diamond:checked ~ label.diamond i.diamond {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 383, filters.scss */
input.garnet:checked ~ label.garnet:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 391, filters.scss */
input.garnet:checked ~ label.garnet {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 399, filters.scss */
input.garnet:checked ~ label.garnet i.garnet {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 403, filters.scss */
input.sapphire:checked ~ label.sapphire:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 411, filters.scss */
input.sapphire:checked ~ label.sapphire {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 419, filters.scss */
input.sapphire:checked ~ label.sapphire i.sapphire {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* line 423, filters.scss */
input.opal:checked ~ label.opal:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

/* line 431, filters.scss */
input.opal:checked ~ label.opal {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

/* line 439, filters.scss */
input.opal:checked ~ label.opal i.opal {
  right: -6px; }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/
