body {
  margin: 0;
}
#menu {
  width: 78vw;
  height: 5vh;
  margin-left: 11vw;
  background-color: white;
  box-shadow: 0 0 5px black;
}
#container {
  width: 72vw;
  height: 86vh;
  margin-left: 14vw;
  margin-top: 2vh;
  background-color: white;
  box-shadow: 0 0 5px black;
}
.left-menu {
  position: absolute;
}
.right-menu {
  position: relative;
}
ol {
  display: inline;
  margin-top: 5%;
}
#footer {
  margin-top: 2vh;
  width: 78vw;
  height: 5vh;
  margin-left: 11vw;
  background-color: white;
  box-shadow: 0 0 5px black;
}
.btn.right {
    margin-left: 68vw;
}
#items {
    width: 72vw;
    height: 66vh;
    position: absolute;
}
.row {
    width: 72vw;
    height: 66vh;
}
.btn img {
  position: absolute;
  margin-top: 31vh;
}
.btn {
  position: absolute;
  height: 66vh;
  width: 4vw;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  outline: none;
}
.btn:active {
  top: 1px;
  background: linear-gradient(#f2f2f2, #e6e6e6, #f2f2f2);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
#row {
    position: absolute;
    width: 64vw;
    height: 66vh;
    margin-left: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.item {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 250px;
    background-color: orange;
    margin-bottom: 0px;
    margin-top: 40px;
}
#filters {
    width: 64vw;
    height: 15vh;        
    margin-top: 69vh;
    margin-left: 4vw;
    position: absolute;
    z-index: 99;
}
#types {
  visibility: hidden;
  position: absolute;
  width: 64vw;
  height: 15vh; 
  background-color: white;
}
#to_filters {
    width: 64vw;
    height: 15vh;
    margin-top: 69vh;
    margin-left: 4vw;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;   
    z-index: 100;
}
#to_types {
  display: inline-block;
  background-color: white;
  font-weight: 700;
  width: 60px;
  height: 20px;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  padding: .5em 2em;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
} 
#to_types:hover { 
  background: rgba(255,255,255,.2); 
}
#to_types:active { 
  background: white;
}
#filtersHead {
    width: 64vw;
    height: 3vh;        
    margin-top: 66vh;
    margin-left: 4vw;
    position: absolute;
    text-align: center;
}
h3 {
  font-weight: 1200;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
