body {
  margin: 0;
}
#menu {
  width: 66vw;
  height: 5vh;
  margin-left: 17vw;
  background-color: white;
}
#container {
  width: 60vw;
  height: 86vh;
  margin-left: 20vw;
  margin-top: 2vh;
  background-color: white;
}
.left-menu {
  position: absolute;
}
.right-menu {
  position: relative;
}
ol {
  display: inline;
}
nav {
  margin-top: 2%;
}
#footer {
  margin-top: 2vh;
  width: 66vw;
  height: 5vh;
  margin-left: 17vw;
  background-color: white;
}
